In [63]:
#Gabriel Barco Borges - Mineração de Dados 
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

import seaborn as sns

In [64]:
data = pd.read_csv('Iris.csv', header=(0))
data.head(150)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [65]:
#1ª Transformação: Embaralha as linhas da database
data=data.sample(frac=1).reset_index(drop=True)
data.head(150)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,116,6.4,3.2,5.3,2.3,Iris-virginica
1,63,6.0,2.2,4.0,1.0,Iris-versicolor
2,8,5.0,3.4,1.5,0.2,Iris-setosa
3,124,6.3,2.7,4.9,1.8,Iris-virginica
4,75,6.4,2.9,4.3,1.3,Iris-versicolor
...,...,...,...,...,...,...
145,58,4.9,2.4,3.3,1.0,Iris-versicolor
146,114,5.7,2.5,5.0,2.0,Iris-virginica
147,136,7.7,3.0,6.1,2.3,Iris-virginica
148,22,5.1,3.7,1.5,0.4,Iris-setosa
149,69,6.2,2.2,4.5,1.5,Iris-versicolor

In [66]:
# 2ª Transformação: Valores string unicamente selecionados
print(data[data.columns[-1]])

0       Iris-virginica
1      Iris-versicolor
2          Iris-setosa
3       Iris-virginica
4      Iris-versicolor
            ...
145    Iris-versicolor
146     Iris-virginica
147     Iris-virginica
148        Iris-setosa
149    Iris-versicolor
Name: Species, Length: 150, dtype: object

In [67]:
classes = np.unique(data[data.columns[-1]])
quant = 0

# 3ª Transformação: Substitui a string por um número
for i in classes:
    data = data.replace(i, quant)
    quant += 1

print(data[data.columns[-1]])

0      2
1      1
2      0
3      2
4      1
      ..
145    1
146    2
147    2
148    0
149    1
Name: Species, Length: 150, dtype: int64

In [68]:
#4ª Transformação: Remove linhas e colunas
# Retira as colunas: SepalLenght e PetalLenght
data = data.drop(data.columns[[1,3]], axis=1)
# Retira linhas de 0 a 5
data = data.drop(data.index[[0,1,2,3,4,5]], axis=0)
data.head(140)

      Id  SepalWidthCm  PetalWidthCm  Species
6     62           3.0           1.5        1
7     34           4.2           0.2        0
8     60           2.7           1.4        1
9     76           3.0           1.4        1
10   110           3.6           2.5        2
..   ...           ...           ...      ...
141  150           3.0           1.8        2
142   64           2.9           1.4        1
143   97           2.9           1.3        1
144   49           3.7           0.2        0
145   58           2.4           1.0        1

[140 rows x 4 columns]